/*
   Cancel out margins and paddings for all elements. In production, we wouldn’t
   do this, because the universal selector (*) is slow.
*/
* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 200;
   margin: auto;
   width: 960px;
}

h1 {
   font-family: 'Patua One', cursive;
   font-size: 72px;
   margin-bottom: 22px;
   margin-top: 22px;
   text-align: center;
}

h2 {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 22px;
   margin-top: 22px;
}

/*
   Setting display to flex makes all its direct children (<div>) flex children.
   Further, any space left over when the flex children are laid out will be equally
   spaced around each flex child.
*/
main {
   display: flex;
   justify-content: space-around;
}

footer p:first-of-type {
   margin-top: -20px;
}

div {
   width: 300px;
}

/*
   Have the image take up 100% of the parent’s width, which is 300px.
*/
img {
   width: 100%;
}

footer {
   text-align: center;
}

.photo-credit {
   font-size: 12px;
   text-align: center;
}
