* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 200;
   margin: auto;
   width: 666px;
}

h1 {
   font-family: 'Patua One', cursive;
   font-size: 72px;
   text-align: center;
}
p {
   margin: 20px 0;
}
